.box-container {
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 0; /* Align to the bottom */
    right: 32px; /* Align to the right */
    grid-area: main;
    width: 600px;
    height: 600px;
    border: 2px solid #888;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 4rem 1fr auto auto;

    grid-template-areas:
        "history title"
        "history chat"
        "history input"
        "new input";
}
