# Server
node_modules/
.idea

package-lock.json
/server/dist/
/server/coverage/

server/src/service-account-key.json

server/.env
server/.env.dev
server/.env.resumator
widgets/chat/sandbox/vanilla/firebaseConfig.js
