.chat-container {
    grid-area: chat;
    z-index: 10;
    overflow-y: auto;
    max-height: 100%;
}

.empty-chat-container {
    grid-area: chat;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.empty-state-message,
.error-message {
    width: 50%; /* Adjusted width for better readability */
    text-align: center;
    padding: 1rem;
    border: 1px solid #e0e0e0; /* Lighter border color */
    background-color: #f8f8f8; /* Lighter background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
    margin: 1rem auto; /* Center the message containers */
}

.error-message {
    color: maroon;
}
