.content-bubble-container {
    padding: 1rem;
    max-width: 100%;
}

.content-bubble-container.user {
    background-color: transparent;
}

.content-bubble-container.user .on-user-hover {
    opacity: 0;
}

.content-bubble-container.user:hover .on-user-hover {
    opacity: 1;
}

.content-bubble-container.assistant {
    background-color: #e6e6e6;
}

.content-bubble-container.system {
}

.content-bubble-wrapper {
    width: 100%;
}

.content-header.system {
    display: flex;
    align-items: flex-end;
}

.content-header span {
    font-weight: bold;
}

.content-text {
    flex: 1;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    white-space: pre-wrap;
}

.function-call-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: #e6e6e6;
    border-radius: 8px;
    margin: 0.5rem 0;
}

.function-name {
    font-weight: bold;
    color: #333;
    margin-right: 0.5rem;
}

.function-arguments {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    white-space: pre-wrap;
    max-width: calc(100% - 1rem);
}

.role-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.content-actions {
    display: flex;
    position: relative;
    min-width: 2rem;
    gap: 0.5rem;
}

.content-actions img {
    width: 0.8rem;
    height: 0.8rem;
    opacity: 0.5;
}

.content-actions .icon-button {
    height: 1.14rem;
    width: 1.14rem;
}

/* Initial state when content is hidden */
.content-text.system {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

/* State when content is visible */
.content-text.system.visible {
    max-height: 500px; /* Set this to a value that can accommodate the content */
    opacity: 1;
}