.content-bubble-container {
    padding: 1rem 1rem 0 1rem;
}

.content-bubble-container.user {
    background-color: transparent;
}

.content-bubble-container.user .on-user-hover {
    opacity: 0;
}

.content-bubble-container.user:hover .on-user-hover {
    opacity: 1;
}

.content-bubble-container.assistant {
    background-color: #f5f5f5;
}

.content-bubble-container.system {
    background-color: #888;
    border: 1px solid lightgrey;
    margin: 0.5rem;
}

.content-bubble-wrapper {
    width: 100%;
}

.content-header span {
    font-weight: bold;
}

.content-text {
    flex: 1;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    white-space: pre-wrap;
}

.function-call-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: #e6e6e6;
    border-radius: 8px;
    margin: 0.5rem 0;
}

.function-name {
    font-weight: bold;
    color: #333;
    margin-right: 0.5rem;
}

.function-arguments {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    white-space: pre-wrap;
}

.role-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.content-actions {
    display: flex;
    position: relative;
    min-width: 2rem;
    gap: 0.5rem;
}

.content-actions img {
    width: 0.8rem;
    height: 0.8rem;
    opacity: 0.5;
}

.content-actions .icon-button {
    height: 1.14rem;
    width: 1.14rem;
}