/* Input.css */

.input-container {
    margin: 0 0.5rem;
    grid-area: input;
}

.chat-input-wrapper {
    z-index: 10;
    padding: 0.5rem;
    background-color: white;
    position: relative;
    border: 1.5px solid #ccc;
    border-radius: 8px;
}

.chat-input {
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
    overflow: auto;
    min-height: 2rem;
    padding: 0.5rem 2.5rem 18px 0.5rem;
    box-sizing: border-box;
}

.chat-input:focus {
    outline: none;
}

.icon-button-container {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}
