.history-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #888;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ddd;
}

.history-item-wrapper:hover {
    background-color: #f5f5f5;
}

.history-item-button {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fefefe;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #888;
    box-sizing: border-box;
}

.history-item-button:hover,
.history-item-button:focus {
    background-color: #f5f5f5;
    outline: none;
}

.history-title {
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action {
    display: flex;
    gap: 0.5rem;
}

.edit-input {
    border: none;
    border-bottom: 1px solid #888;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    width: 100%;
}
